[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maks (maks1m)
[access "refs/for/refs/*"]
	read = group user/Maks (maks1m)
	push = group user/Maks (maks1m)
	label-Code-Review = -2..+2 group user/Maks (maks1m)
	label-Verified = -1..+1 group user/Maks (maks1m)
	rebase = group user/Maks (maks1m)
	removeReviewer = group user/Maks (maks1m)
	submit = group user/Maks (maks1m)
[access "refs/heads/*"]
	read = group user/Maks (maks1m)
	create = group user/Maks (maks1m)
	push = +force group user/Maks (maks1m)
	pushMerge = group user/Maks (maks1m)
[access "refs/tags/*"]
	push = +force group user/Maks (maks1m)
	pushTag = group user/Maks (maks1m)
	pushSignedTag = group user/Maks (maks1m)
